:root {
  --color-letra: #1D1D1D;
  --color-boton: #4D2C5E;
  --color-letra2: #999999;
  --color-naramja: #FF7426;
  --color-parafo: #8A8A8A;
  --color-fondo: #FDF8EE;
  --color-letra1: #FFFFFF;
}

body {
  margin: 0px;
  padding: 0px;
}

.logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
  list-style: none;
}

.letrayboton {
  margin-left: 400px;
  display: flex;

}

.letrayboton>li {
  font-weight: 630;
  margin: 10px;
  color: var(--color-letra);
}

.letrayboton>button {
  border-radius: 35px;
  background-color: var(--color-boton);
  color: var(--color-letra2);
  border: none;
  size-adjust: 50px;
  font-size: medium;
  padding: 10px 20px;
  font-weight: 630;

}

.logo>h2 {
  margin-left: 20px;
}

.part1 {

  display: flex;
  margin: 30px 30px;
  height: 600px;
  display: grid;
  grid-template-columns: 50% 60%;
  margin-top: -100px;
}

.titulo1 {
  margin-top: 200px;
}

.titulo1>h1 {
  font-size: 60px;
}

.titulo1>h1>a {
  color: var(--color-naramja);
}

.titulo1>p {
  color: var(--color-parafo);
  font-size: 18px;
  font-weight: 630;

}

.parte2 {
  margin-top: 20px;
  margin-left: -30px;
}

.fondo1>.fondo {
  margin-top: 100px;


}

.fondo {
  background-image: url("/imagenes/material.svg");
}

.titulo1>img {
  margin-left: -10px;
  margin-top: -30px;
  width: 520px;
  height: 150px;
}

.fondodecolor {
  background-color: var(--color-fondo);
}

.skills-section {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-boton);
  padding: 50px;

}

.skill-card {
  margin-left: 30px;
  display: flex;
  align-items: center;
  color: var(--color-letra1);
  background-color: var(--color-boton);
  padding: 20px;

  width: 30%;
  box-sizing: border-box;
}

.icon-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}

.text-container {
  flex: 1 1 auto;
}

.text-container h2 {
  margin: 0;
  font-size: 18px;
}

.text-container p {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--color-parafo);
}

.bar {
  display: flex;
  background-color: var(--color-boton);
  border-radius: 9px;
}

.course-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.course-card>.img {
  margin-top: -60px;
  margin-bottom: -95px;
  margin-left: 6px;

}

.course-image {
  width: 100%;
  height: auto;

}

.course-content {
  padding: 15px;

}

.course-content>p {
  color: var(--color-naramja);
}

.course-category {
  color: grey;
  font-size: 0.8em;
  margin: 0;
}

.course-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.course-price {
  color: orange;
  font-size: 1.2em;
  margin: 5px 0;
}

.course-rating {
  font-size: 1em;
  color: orange;
  margin: 5px 0;
}

.course-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 10px 0;
  color: grey;
}

.join-course-button {
  background-color: var(--color-naramja);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  width: 150px;
  height: 40px;
  margin-left: 90px;
}

.join-course-button:hover {
  background-color: darkorange;
}

.iconos {
  display: flex;
  margin: 0px;
}

.btn {
  margin-left: 220px;
  margin-top: -40px;
}

.casa>h1 {
  color: black;
  margin-left: 100px;
  margin-bottom: -10px;
}

.casa>p {
  color: var(--color-parafo);
}

.casa {
  margin-left: 480px;
}

.parte2 {
  display: flex;
  margin: 30px 30px;
  height: 600px;
  display: grid;
  grid-template-columns: 50% 60%;
}
.pip>button{
  background-color: var(--color-boton);
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.pip>button>img{
  width: 40px;
  height: 40px;
}
.pip{
  margin: 30px 20px;
  display: flex;
  margin-left: 0px;
}
.pip>.pop{
margin-left: 20px;
margin-top: -12px;
}
.pop>h3{
  color: var(--color-letra);
}
.pop>p{
  color: var(--color-parafo);
  margin-top: -10px;
}
.titulo1{
margin-top: 60px;
}
.fondo2{
  background-color: var(--color-fondo);
}
.fondo2{
  background-color: var(--color-fondo);
}
.footer-content{
  background-color: var(--color-fondo);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 10px;
  margin-top: 10px;
  text-decoration: none;
}
.footer-content>.Footer>.image{
  width: 100;
  height: 100;
  background-color: #FF7426;
}
